/*--------------------------------------background css------------------------------------------------*/
.mainFxmlClass{
    -fx-background-image: url('oi.jpg');
}
.glassPane{
    -fx-background-color: rgba(0, 100, 100, 0.5);
    -fx-background-radius: 10;
}

/*--------------------------------------end of background css------------------------------------------------*/

/*--------------------------------------button css------------------------------------------------*/
.orangeButton{
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
.silvarButton{
    -fx-background-color:#c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 50;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.blueButton{
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
.greyButton {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.lionbutton{
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
/*-------------------------------------- end of button css------------------------------------------------*/

/*-------------------------------------- text box css------------------------------------------------*/
.text-input:disabled {
    -fx-opacity: 1.0;
    -fx-cursor: crosshair;
    -fx-background-image: url('woodenback.jpg');
    -fx-background-image-radius: 14px;
}
#letterPane > .text-input{
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.5) , 3, 0.0 , 1, 1 );
    -fx-background-radius: 13px;
    -fx-background-insets: 0 1 1 0, 1 0 0 1, 1;
    -fx-background-color:linear-gradient(to left, #1D976C , #93F9B9);
}
.text-input:text{
    -fx-font-family: Gafata;
    -fx-font-size: 40;
}

/*--------------------------------------end of text box css------------------------------------------------*/

/*-------------------------------------- Label css------------------------------------------------*/
.gameheader{
    -fx-font-family:DengXian;
    -fx-font-size:25px;
    -fx-font-style:bold;
}
.gamesubheader{
    -fx-font-family:Andalus;
    -fx-font-size:75px;
    -fx-font-style:bold;
}

#username{
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.5) , 3, 0.0 , 1, 1 );
    -fx-background-insets: 0 1 1 0, 1 0 0 1, 1;
}
#gamename{
    -fx-text-fill:linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 7%, rgba(0,0,0,1) 18%, rgba(10,10,10,1) 19%, rgba(102,102,102,1) 28%, rgba(17,17,17,1) 38%, rgba(71,71,71,1) 50%, rgba(17,17,17,1) 55%, rgba(44,44,44,1) 62%, rgba(94,94,94,1) 70%, rgba(43,43,43,1) 77%, rgba(0,0,0,1) 85%, rgba(19,19,19,1) 100%);
    -fx-font-family:Forte;
    -fx-font-size:55px;
    -fx-text-alignment:center;
}
/*--------------------------------------end of Label css------------------------------------------------*/